In [1]:
import psycopg2
import pandas as pd

In [14]:
conn=psycopg2.connect(dbname='UCB',
                      user='jaredp',
                      host='localhost',
                      password='secret')

cursor = conn.cursor()

#Query 1
cursor.execute("Select * from fremont_")
result=pd.DataFrame(cursor.fetchall())

#Query 2
cursor.execute("Select * from Burke_Gilman")
result2=pd.DataFrame(cursor.fetchall())

#Query 3
cursor.execute("SELECT * FROM Broadway")
result3=pd.DataFrame(cursor.fetchall())

concatenated = pd.concat([result, result2, result3], axis=1)
# concatenated.columns = ['Fremont', 'Burke_Gilman', 'Broadway']
concatenated = concatenated.fillna(0)

conn.close()

In [15]:
concatenated

,0,1,2,3,4,0,1,2,3,4,5,6,0,1,2,3,4
0,1,2023-02-28 23:00:00,6.0,3.0,3.0,1.0,2019-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,1.0,2019-01-01 00:00:00,5.0,2.0,3.0
1,2,2023-02-28 22:00:00,14.0,5.0,9.0,2.0,2019-01-01 01:00:00,2.0,1.0,0.0,1.0,0.0,2.0,2019-01-01 01:00:00,15.0,4.0,11.0
2,3,2023-02-28 21:00:00,30.0,13.0,17.0,3.0,2019-01-01 02:00:00,1.0,0.0,0.0,0.0,1.0,3.0,2019-01-01 02:00:00,3.0,1.0,2.0
3,4,2023-02-28 20:00:00,37.0,22.0,15.0,4.0,2019-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,4.0,2019-01-01 03:00:00,0.0,0.0,0.0
4,5,2023-02-28 19:00:00,59.0,19.0,40.0,5.0,2019-01-01 04:00:00,1.0,0.0,0.0,1.0,0.0,5.0,2019-01-01 04:00:00,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91219,91220,2012-10-03 04:00:00,7.0,6.0,1.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0
91220,91221,2012-10-03 03:00:00,5.0,2.0,3.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0
91221,91222,2012-10-03 02:00:00,2.0,1.0,1.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0
91222,91223,2012-10-03 01:00:00,10.0,4.0,6.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0
91223,91224,2012-10-03 00:00:00,13.0,4.0,9.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0

In [16]:
concatenated.columns = ['id1', 'date1', 'total', 'north_bike', 'south_bike', 'id2', 'date2', 'total_ped_and_bike', 'pedestrian_south', 'pedestrian_north', 'bike_north', 'bike_south', 'id3', 'date3', 'total', 'north_bike2', 'south_bike2' ]

In [17]:
concatenated=concatenated.drop(['id1', 'id2', 'id3'], axis=1)
concatenated

,date1,total,north_bike,south_bike,date2,total_ped_and_bike,pedestrian_south,pedestrian_north,bike_north,bike_south,date3,total,north_bike2,south_bike2
0,2023-02-28 23:00:00,6.0,3.0,3.0,2019-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,2019-01-01 00:00:00,5.0,2.0,3.0
1,2023-02-28 22:00:00,14.0,5.0,9.0,2019-01-01 01:00:00,2.0,1.0,0.0,1.0,0.0,2019-01-01 01:00:00,15.0,4.0,11.0
2,2023-02-28 21:00:00,30.0,13.0,17.0,2019-01-01 02:00:00,1.0,0.0,0.0,0.0,1.0,2019-01-01 02:00:00,3.0,1.0,2.0
3,2023-02-28 20:00:00,37.0,22.0,15.0,2019-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,2019-01-01 03:00:00,0.0,0.0,0.0
4,2023-02-28 19:00:00,59.0,19.0,40.0,2019-01-01 04:00:00,1.0,0.0,0.0,1.0,0.0,2019-01-01 04:00:00,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91219,2012-10-03 04:00:00,7.0,6.0,1.0,0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0
91220,2012-10-03 03:00:00,5.0,2.0,3.0,0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0
91221,2012-10-03 02:00:00,2.0,1.0,1.0,0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0
91222,2012-10-03 01:00:00,10.0,4.0,6.0,0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0
91223,2012-10-03 00:00:00,13.0,4.0,9.0,0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0

In [20]:
test=concatenated[:100]

In [21]:
# format the date columns to be YYYY-MM-DD

test['date1'] = pd.to_datetime(test['date1'])
test['date2'] = pd.to_datetime(test['date2'])
test['date3'] = pd.to_datetime(test['date3'])
test['date1'] = test['date1'].dt.strftime('%Y-%m-%d')
test['date2'] = test['date2'].dt.strftime('%Y-%m-%d')
test['date3'] = test['date3'].dt.strftime('%Y-%m-%d')

/var/folders/wv/c3g7vgxd10n0mdl2_flcjj480000gn/T/ipykernel_8989/3160144901.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['date1'] = pd.to_datetime(test['date1'])
/var/folders/wv/c3g7vgxd10n0mdl2_flcjj480000gn/T/ipykernel_8989/3160144901.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['date2'] = pd.to_datetime(test['date2'])
/var/folders/wv/c3g7vgxd10n0mdl2_flcjj480000gn/T/ipykernel_8989/3160144901.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['date3'] = pd.to_datetime(test['date3'])
/var/folders/wv/c3g7vgxd10n0mdl2_flcjj480000gn/T/ipykernel_8989/3160144901.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['date1'] = test['date1'].dt.strftime('%Y-%m-%d')
/var/folders/wv/c3g7vgxd10n0mdl2_flcjj480000gn/T/ipykernel_8989/3160144901.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['date2'] = test['date2'].dt.strftime('%Y-%m-%d')
/var/folders/wv/c3g7vgxd10n0mdl2_flcjj480000gn/T/ipykernel_8989/3160144901.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['date3'] = test['date3'].dt.strftime('%Y-%m-%d')

In [22]:
test

,date1,total,north_bike,south_bike,date2,total_ped_and_bike,pedestrian_south,pedestrian_north,bike_north,bike_south,date3,total,north_bike2,south_bike2
0,2023-02-28,6.0,3.0,3.0,2019-01-01,0.0,0.0,0.0,0.0,0.0,2019-01-01,5.0,2.0,3.0
1,2023-02-28,14.0,5.0,9.0,2019-01-01,2.0,1.0,0.0,1.0,0.0,2019-01-01,15.0,4.0,11.0
2,2023-02-28,30.0,13.0,17.0,2019-01-01,1.0,0.0,0.0,0.0,1.0,2019-01-01,3.0,1.0,2.0
3,2023-02-28,37.0,22.0,15.0,2019-01-01,0.0,0.0,0.0,0.0,0.0,2019-01-01,0.0,0.0,0.0
4,2023-02-28,59.0,19.0,40.0,2019-01-01,1.0,0.0,0.0,1.0,0.0,2019-01-01,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2023-02-25,7.0,1.0,6.0,2019-01-04,1.0,0.0,0.0,1.0,0.0,2019-01-04,7.0,4.0,3.0
96,2023-02-24,15.0,7.0,8.0,2019-01-05,0.0,0.0,0.0,0.0,0.0,2019-01-05,6.0,4.0,2.0
97,2023-02-24,18.0,9.0,9.0,2019-01-05,0.0,0.0,0.0,0.0,0.0,2019-01-05,5.0,3.0,2.0
98,2023-02-24,28.0,8.0,20.0,2019-01-05,0.0,0.0,0.0,0.0,0.0,2019-01-05,0.0,0.0,0.0
99,2023-02-24,24.0,9.0,15.0,2019-01-05,0.0,0.0,0.0,0.0,0.0,2019-01-05,0.0,0.0,0.0

In [25]:
from flask import Flask, jsonify

In [26]:
jsonify(test.to_dict(orient="records"))

/var/folders/wv/c3g7vgxd10n0mdl2_flcjj480000gn/T/ipykernel_8989/4205548044.py:1: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  jsonify(test.to_dict(orient="records"))

RuntimeError: Working outside of application context.

This typically means that you attempted to use functionality that needed
the current application. To solve this, set up an application context
with app.app_context(). See the documentation for more information.